<!DOCTYPE html>
<html lang="ru-RU"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta name="application-name" content="Goriste">
    <link crossorigin="anonymous" rel="stylesheet" id="all-css-4-1" href="https://s0.wp.com/_static/??/wp-content/mu-plugins/comment-likes/css/comment-likes.css,/wp-content/themes/pub/gateway/style.css?m=1603385923j&amp;cssminify=yes" type="text/css" media="all">
   <title>Goriste</title>

    <div id="page" class="hfeed site">
        <div class="header-bg clear">
    
            <div class="site-branding">
                <h1 class="site-title"><a  rel="home">Гористе</a></h1>
                <h2 class="site-description"></h2>
            </div>
            <div class="hero-section">
                <h3 class="hero-title">Ласкаво просимо!</h3>
            </div>
        </div>
    
        <header id="masthead" class="site-header" role="banner">
            <div class="stick">
                <nav id="site-navigation" class="main-navigation clear" role="navigation">
                    <div class="menu-container">
                    <ul id="primary-menu" class="right nav-menu" aria-expanded="false">
    <li id="menu-item-10" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-2 current_page_item menu-item-10"><a href="#" aria-current="page">Головна</a></li>
    <li id="menu-item-12" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12"><a href="#">Контакти</a></li>
    <li id="menu-item-13" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13"><a href="#p1">Замовлення</a></li>
    </ul>
</div>			
</nav>
            </div>
        </header>
<body>
 
<div id="info" class="site-info">
    <h3> Правила перебування на території</h3>
    <P>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
         ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived 
         not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 
         1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like 
         Aldus PageMaker including versions of Lorem Ipsum. Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots 
         in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at 
         Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, 
         and going through the cites of the word in classical literature, discovered the undoubtable source. </P>
   
</div>
<div id="map" class="map-geo">
    <h2>Де ми знаходимося?</h2>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2531.5626719348093!2d30.52955486546656!3d50.61666338325584!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4d4deaaa5110f%3A0xbd106cfa17963664!2sRecreation%20%22Goris%22!5e0!3m2!1sru!2sua!4v1679593802270!5m2!1sru!2sua" 
    width="1200" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

        <div id="content" class="site-content">
        <h2 id="p1"> Зарезервувати</h2>
    <body class="featured-posts clear">
        
        <article id="post-6" class="post-6 post type-post status-publish format-standard has-post-thumbnail hentry category-805610">
    
            <div class="featured-image">
                
                <img src="img/дім1.jfif">
                        </div>
    
            <header class="entry-header">
                <h3 class="entry-title"><a href="#" rel="bookmark">Дім 1</a></h3>
                          
            </header>
            <div class="entry-summary">
                <p>Ціна <a class="more-link" > </a></p>
            </div>
        </article>
  
        <article id="post-7" class="post-7 post type-post status-publish format-standard has-post-thumbnail hentry category-805610">
    
            <div class="featured-image">
                
                <img src="img/дім1.jfif">
                        </div>
    
                        <header class="entry-header">
                            <h3 class="entry-title"><a href="#" rel="bookmark">Дім 2</a></h3>
                                      
                                    </header>
                        <div class="entry-summary">
                            <p>Ціна <a class="more-link" > </a></p>
                        </div>
         
        </article>
        <article id="post-8" class="post-8 post type-post status-publish format-standard has-post-thumbnail hentry category-805610">
            <div class="featured-image">
            <img src="img/дім1.jfif">
        </div>

        <header class="entry-header">
            <h3 class="entry-title"><a href="#" rel="bookmark">Дім 3</a></h3>
                      
              </header>

        <div class="entry-summary">
            <p>Ціна <a class="more-link" > </a></p>
        </div>
        </article>
    </body>
    </body> 
   
</html>
